{{ form_start(form) }}
{{ form_row(form.region,{'id':'regionId'}) }}
{{ form_row(form.district,{'id':'districtId'}) }}
{{ form_row(form.ward,{'id':'wardId'}) }}
{{ form_row(form.areaName) }}
{{ form_row(form.isVillage) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}