<ul class="list-styled">
    {% for record in info.getTextElements() %}
        {% for key,value in record %}
            {% if key=='Court Coordinates' and value!='N/A' %}
                <li class="fade"><span class="title">{{ key }}:</span>{{ value }} <a href="#"><img src="{{ asset('images/icons/map.png') }}" class="open-map" title="Click to view coordinates on map"></a></li>
            {% else %}
                <li class="fade"><span class="title">{{ key }}:</span>{{ value }}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>


{% for record in info.getMarkDownElements() %}
    {% for key,value in record %}
        <div class="markdown-content">
        <p class="fade"><span class="title">{{ key }}:</span>{{ value|markdown }}</p>
        </div>
    {% endfor %}
{% endfor %}
