{{ form_start(form) }}
{{ form_row(form.region,{'id':'regionId'}) }}
{{ form_row(form.district,{'id':'districtId'}) }}
{{ form_row(form.wardName) }}
{{ form_row(form.wardCode) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}