{% extends 'administration/main/app.base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <script src="{{ asset('vendor/jquery/jquery-1.9.1.min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-form-wizard/jquery.form.wizard.js') }}"></script>
     <script src="{{ asset('vendor/dropit-js/dropit.js') }}"></script>
     <script src="{{ asset('vendor/jquery.filer/js/jquery.filer.min.js') }}"></script>
     <script src="{{ asset('vendor/hongkhanh-cropbox/jquery/cropbox-min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js') }}"></script>
     <script src="{{ asset('vendor/simplemde-markdown-editor/dist/simplemde.min.js') }}"></script>
     <script src="{{ asset('vendor/select2-4.0.3/dist/js/select2.min.js') }}"></script>
     <script src="{{ asset('vendor/slick-carousel/slick/slick.min.js') }}"></script>
     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
     <script src="{{ asset('vendor/leaflet/leaflet.js') }}"></script>
     <script src="{{ asset('vendor/leaflet/leaflet.markercluster-src.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
     <script src="{{ asset('js/main.js') }}"></script>
 {% endblock %}



{% block content %}
     {{ parent() }}

<div class="panel">
    <div class="panel-title col12">
        <div class="container"><h1>{{ title }}</h1></div>
    </div>

     <div class="white-space panel-body">
         <div class="container">
             <div class="clear space-20"></div>
             <div id="map" style="width:100%;height:500px"></div>
             <script type="text/javascript">
                 $(document).ready(function() {
                     var courts = L.layerGroup();

                     var addressPoints = [
                         {{ points|raw }}
                     ];

                     for (var i = 0; i < addressPoints.length; i++)
                     {
                         var a = addressPoints[i];
                         var title = a[2];

                         var customPopup = '<b>Court Level: </b>'+a[2]+'<br/>'+
                             '<b>Court Name:</b>'+a[3]+'<br/>'+
                             '<b>Region:</b>'+a[4]+'<br/>'+
                             '<b>District Name:</b>'+a[5]+'<br/>'+
                             '<b>Ward:</b>'+a[6]+'<br/>'+
                             '<a href="/administration/court-form/info/'+a[7]+'" title="Click to view more court details">More Details</a>';

                         var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
                         marker.bindPopup(customPopup);
                         //marker.addTo(map);
                         // markers.addLayer(marker);
                         marker.addTo(courts)
                     }


                     var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                         '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                         'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                         mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

                     var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
                         streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr}),
                         Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'});

                     var map = L.map('map', {
                         center: [-6.3690,34.8888],
                         zoom: 6,
                         layers: [grayscale, courts]
                     });

                     var baseLayers = {
                         "Grayscale": grayscale,
                         "Streets": streets,
                         "Satellite": Esri_WorldImagery
                     };

                     var overlays = {
                         "Courts": courts
                     };

                     L.control.layers(baseLayers, overlays).addTo(map);
                 });

             </script>
        </div>
    </div>

</div>


{% endblock %}


