<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Court Mapping | System Generated Report </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ absolute_url(asset('css/report.css')) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

    <body>
        {% block header %}
        <div class="col12 reportHeader">
            <div class="col12 align-left">
                <div class="col4">
                    <img src="{{ absolute_url(asset('images/logo/Coat_of_arms_of_Tanzania.svg.png')) }}" class="logo" alt="Report Logo">
                </div>
                <div class="col4 align-center">
                    <h1> THE UNITED REPUBLIC OF TANZANIA<br/>
                        JUDICIARY</h1>
                </div>
                <div class="col4 align-right last">
                    <img src="{{ absolute_url(asset('images/logo/hpscalejustice.png')) }}" class="logo" alt="Report Logo">
                </div>
            </div>

            {% block summary %}
                <div class="col12">
                    <br/>
                    {% for data in summary %}
                        <h2>{{ data }}</h2>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
        {% endblock %}
        {% block body %}
        {% set headers = grid.getGridHeaders() %}
        <div class="col12 reportBody">
            <table class="data-grid">
                <thead>
                {% for header in headers %}
                    <th class="{% if header.class is not null  %}{{ header.class }}{% endif %}"><span>{{ header.name }}</span></th>
                {% endfor %}
                </thead>
                <tbody>
                {% set counter = 1 %}
                {% for record in records %}
                    <tr {% if loop.index%2 !=0 %} class="odd"{% endif %}>
                        {% include gridTemplate %}

                        {% set counter = counter + 1 %}
                    </tr>
                {% endfor %}
                {% block tableSummary %}{% endblock %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </body>
</html>

