{% extends 'main/app.base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <script src="{{ asset('vendor/jquery/jquery-1.9.1.min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-form-wizard/jquery.form.wizard.js') }}"></script>
     <script src="{{ asset('vendor/dropit-js/dropit.js') }}"></script>
     <script src="{{ asset('vendor/jquery.filer/js/jquery.filer.min.js') }}"></script>
     <script src="{{ asset('vendor/hongkhanh-cropbox/jquery/cropbox-min.js') }}"></script>
     <script src="{{ asset('vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js') }}"></script>
     <script src="{{ asset('vendor/simplemde-markdown-editor/dist/simplemde.min.js') }}"></script>
     <script src="{{ asset('vendor/select2-4.0.3/dist/js/select2.min.js') }}"></script>
     <script src="{{ asset('vendor/slick-carousel/slick/slick.min.js') }}"></script>
     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
     <script src="{{ asset('vendor/leaflet/leaflet.js') }}"></script>
     <script src="{{ asset('vendor/leaflet/leaflet.markercluster-src.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
     <script src="{{ asset('js/main.js') }}"></script>
 {% endblock %}



{% block content %}
     {{ parent() }}

<div class="panel">
    <div class="panel-title col12">
        <div class="container"><h1>{{ title }}</h1></div>
    </div>

     <div class="white-space panel-body">
         <div class="container">
             <div class="clear space-20"></div>
             <div id="map" style="width:100%;height:500px"></div>
             <script type="text/javascript">
                 $(document).ready(function() {
                     var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                             maxZoom: 18,
                             attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                         }),
                         latlng = L.latLng(-6.3690,34.8888);

                 var map = L.map('map', {center: latlng, zoom: 6, layers: [tiles]});

                 var markers = L.markerClusterGroup();
                     var addressPoints = [
                         {{ points|raw }}
                     ];

        console.log(addressPoints.length);
                 for (var i = 0; i < addressPoints.length; i++) {
                     var a = addressPoints[i];
                     var title = a[2];

                     var customPopup = '<b>Court Level: </b>'+a[2]+'<br/>'+
                             '<b>Court Name:</b>'+a[3]+'<br/>'+
                             '<b>Region:</b>'+a[4]+'<br/>'+
                             '<b>District Name:</b>'+a[5]+'<br/>'+
                             '<b>Ward:</b>'+a[6]+'<br/>'+
                             '<a href="/court-form/info/'+a[7]+'" title="Click to view more court details">More Details</a>';

                     var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
                     marker.bindPopup(customPopup);
                     markers.addLayer(marker);
                 }

                 map.addLayer(markers);
                 });

             </script>
        </div>
    </div>

</div>


{% endblock %}


