{% extends 'main/app.base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block content %}
     {{ parent() }}
<div class="panel">
     <div class="panel-title">
         <div class="container"><h1>{{ title }}</h1></div>
     </div>

     <div class="white-background panel-body">
         <div class="container">
             <div class="clear space-10"></div>
             {{ include("main/app.flash.message.html.twig") }}
             <div class="clear space-10"></div>
             {% set id = info.getId() %}
             {% set extraId = "" %}

             {% if info.extraIds!=null %}

                 {% set extraId = "?" %}

                 {% for id in info.extraIds %}

                    {% for key,value in id %}
                        {% set extraId = extraId~key~"="~value %}
                    {% endfor %}

                     {% if loop.last == false %}
                        {% set extraId = extraId~"&" %}
                     {% endif %}

                {% endfor %}

             {% endif %}


             {% if image is defined %}
                 <div class="col5">
                     {{ include("info/#{ infoTemplate }.info.html.twig") }}
                 </div>
                 <div class="image-slider col7 last">
                     {% for data in image %}
                         <div class="image-frame">
                             <img src="{{ asset(data) }}" alt="Image" />
                         </div>
                     {% endfor %}
                 </div>
                 {% else %}
                     <div class="col12">
                         {{ include("info/#{ infoTemplate }.info.html.twig") }}
                     </div>
             {% endif %}



             <div class='clear'></div>
             <ul class="file-list">
                 {% for file in info.getFileElements() %}
                     {% for key,value in file %}
                         <li><a href="{{ value }}" target="_blank"  title="Click to download file"><img class="fa" src="{{ asset('images/icons/pdf.png') }}"/>{{ key }}</a></li>
                     {% endfor %}
                 {% endfor %}
             </ul>
             <div class="space-10"></div>

             <ul class="file-list">
                 {% for link in info.getLinkElements() %}
                     <li><a href="{{ path(link['path']) }}{% if link['parameter']!=null%}/{{ link['parameter'] }}{% endif %}{% if extraId!="" %}{{ extraId }}{% endif %}" title="{{ link['name'] }}"><img class="fa" src="{{asset(link['icon']) }}"/>{{ link['name'] }}</a></li>
                 {% endfor %}
             </ul>

             <div class="space-10"></div>

             <div class="btn-container">
                 {% set buttons = info.getButtons() %}
                 {% set path = path(info.getPath()) %}

                 {% if 'approve' in buttons %}
                     <a href="{{ path }}/approve/{{ id }}{% if extraId!="" %}{{ extraId }}{% endif %}" class="btn btn-green" title="Click to approve">Approve</a>
                 {% endif %}

                 {% if 'decline' in buttons %}
                     <a href="{{ path }}/decline/{{ id }}{% if extraId!="" %}{{ extraId }}{% endif %}" class="btn btn-red" title="Click to decline">Decline</a>
                 {% endif %}

                 {% if 'active' in buttons %}
                     <a href="{{ path }}/active/{{ id }}{% if extraId!="" %}{{ extraId }}{% endif %}" class="btn btn-green" title="Click to set active">Activate</a>
                 {% endif %}

                 {% if 'inactive' in buttons %}
                     <a href="{{ path }}/inactive/{{ id }}{% if extraId!="" %}{{ extraId }}{% endif %}" class="btn btn-red" title="Click to set inactive">Inactive</a>
                 {% endif %}

             </div>
             <div class="space-20"></div>

         </div>
         {% if coordinates is defined %}
             {% if coordinates.longitude!=null and coordinates.latitude!=null %}
                 <div id="dialog-message" title="Map Visualization">
                     <div id="mapid" style="width: 600px; height: 400px;"></div>


                 </div>
             {% endif %}
         {% endif %}
     </div>


</div>
    <div class="space-20"></div>
{% endblock %}

{% block javascripts %}
     {{ parent() }}

    <script src="{{ asset('js/ajax.js') }}"></script>
{% if coordinates is defined %}

    {% if coordinates.longitude!=null and coordinates.latitude!=null %}
        <script src="{{ asset('vendor/leaflet/leaflet.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var map = L.map('mapid').setView([{{ coordinates.latitude }}, {{ coordinates.longitude }}], 15);

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    id: 'mapbox.streets'
                }).addTo(map);

                L.marker([{{ coordinates.latitude }}, {{ coordinates.longitude }}]).addTo(map);

                $('#dialog-message').hide();
            });
        </script>
    {% endif %}
{% endif %}
{% endblock %}

