<td>{{ counter }}</td>
<td>{{ record.time_created|date("m/d/Y") }}</td>
<td>{{ record.first_name }} {{ record.surname }}</td>
<td>{{ record.description }}</td>
<td>{{ record.region_name }}</td>
<td>{{ record.district_name }}</td>
<td>{{ record.ward_name }}</td>
