{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.address) }}
{{ form_row(form.road) }}
{{ form_row(form.email) }}
{{ form_row(form.phone) }}
{{ form_row(form.fax) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}