{{ form_start(form) }}
{{ form_row(form.meetsFunctionality) }}
{{ form_row(form.hasLastMileConnectivity) }}
{{ form_row(form.internetAvailability) }}
{{ form_row(form.numberOfComputers) }}
<button type="submit"   class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}