{{ form_start(form) }}
{{ form_row(form.courtName) }}
{{ form_row(form.courtLevel) }}
{{ form_row(form.courtCode) }}
{{ form_row(form.isPlotOnly) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}