{{ form_start(form) }}
{{ form_row(form.buildingOwnershipStatus) }}
{{ form_row(form.buildingStatus) }}
{{ form_row(form.hasExtensionPossibility) }}
{{ form_row(form.yearConstructed) }}
<button type="submit"   class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}