{{ form_start(form) }}
{{ form_row(form.landUseDescription) }}
{{ form_row(form.isLandSurveyed) }}
{{ form_row(form.plotNumber) }}
{{ form_row(form.titleDeed) }}
<button type="submit"   class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}