{{ form_start(form) }}
{{ form_row(form.numberOfJudges) }}
{{ form_row(form.numberOfJustices) }}
{{ form_row(form.numberOfResidentMagistrates) }}
{{ form_row(form.numberOfDistrictMagistrates) }}
{{ form_row(form.numberOfMagistrates) }}
{{ form_row(form.numberOfCourtClerks) }}
{{ form_row(form.numberOfNonJudiciaryStaff) }}
{{ form_row(form.casesPerYear) }}
{{ form_row(form.populationServed) }}
<button type="submit"   class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}