<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Court Mapping | App Management Portal{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery.filer/css/jquery.filer.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/select2-4.0.3/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/leaflet/leaflet.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/leaflet/MarkerCluster.Default.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/leaflet/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/slicknav/slicknav.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('css/portal-style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body {%  if section is defined %} class="outer" {%  endif %}>
<div id="loader"><img src="{{ asset('images/loaders/loader.gif') }}" alt="Loading"></div>
<div class="main-content" style="display:none;">
    {% block body %}
        <div class="white-space col12">
            <div class="top-bar">
                <div class="section-inner">
                    <div class="col6 no-mobile"><p>{{ 'text.welcome'|trans }}</p></div>
                    <div class="col6 last align-right"><a href="{{ path('admin_security_login') }}">{{ 'action.staff.login'|trans }}</a></div>
                </div>
            </div>

            {% set courtLevels = get_court_list(app.request.locale) %}
            <!-- header -->
            <div class="header col12 white-space">
                <div class="section-inner">
                    <div class='col4'>
                        <a href='{{ path('public_home_page',{'_locale': app.request.locale}) }}'>
                            <img src='{{ asset('images/logo/portal-logo.png') }}' class='header-logo' alt='Tanzania Judiciary Open Data Logo'/>
                        </a>
                    </div>
                    <div class='col7 navigation-bar last'>
                            <div id="menu-area">
                                <ul id="menu" class="tabs"><li class="{{ highlight_public_menu(currentPosition,'home') }}"><a href="{{ path('public_home_page',{'_locale': app.request.locale}) }}">{{ 'menu.home'|trans }}</a></li>
                                    <li class="{{ highlight_public_menu(currentPosition,'courts') }}"><a href="#">{{ 'menu.courts'|trans }}</a>
                                        <ul class="dropdown" style="display: none;">
                                            {% for level in courtLevels %}
                                                {% if courtLevel is not defined %}
                                                     <li><a href="{{ path('public_court_level_description',{'level':level.identifier}) }}">{{ level.description }} </a></li>
                                                    {% else %}
                                                        <li class="{{ highlight_public_menu(courtLevel.identifier,level.identifier) }}"><a href="{{ path('public_court_level_description',{'level':level.identifier}) }}">{{ level.description }} </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="{{ highlight_public_menu(currentPosition,'about') }}"><a href="#">{{ 'menu.about'|trans }}</a></li>
                                    <li class="{{ highlight_public_menu(currentPosition,'contact') }}"><a href="#">{{ 'menu.contact'|trans }}</a></li>
                                </ul>
                            </div>

                    </div>
                    <div class="col1 language-switcher">
                        <a href="#" title="English">EN</a> / <a href="#" title="Swahili">SW</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-->

        {% block content %}


        {% endblock %}


        {% block footer %}
            <div class="col12 space-30"></div>
            <div class='col12 align-center lo-footer'>
                <div class='section-inner'>
                    <p>&copy; {{ 'now'|date('Y') }} {{ 'text.judiciary.tanzania'|trans }}.{{ 'text.rights.reserved'|trans }}.</p>
                </div>
            </div>
        {% endblock %}

    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-form-wizard/jquery.form.wizard.js') }}"></script>
    <script src="{{ asset('vendor/dropit-js/dropit.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js') }}"></script>
    <script src="{{ asset('vendor/select2-4.0.3/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/slick-carousel/slick/slick.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('vendor/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/dropdown/jquery.easing.1.3.min.js') }}"></script>
    <script src="{{ asset('vendor/dropdown/hoverIntent.js') }}"></script>
    <script src="{{ asset('vendor/dropdown/dropdown.js') }}"></script>
    <script src="{{ asset('vendor/slicknav/jquery.slicknav.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/portal-main.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
</body>
</html>
