{% extends 'public/base.html.twig' %}

{% block content %}

    <div class="page-title">
            <div class="section-inner">
                <h1>{{ 'text.court.details'|trans }}</h1>
            </div>
    </div>

    <div class="white-space">
        <div class="space-20 col12"></div>

        <div class="section-inner">
            <div class="clear space-10"></div>
            <div class="col6 align-left">
                <h2 class="lighter">{{ 'text.court.basic.details'|trans }}</h2>
                <div class="divider"></div>
                <ul class="list-styled">
                    <li class="fade"><span class="title">{{ 'text.court.name'|trans }}: </span>{{ court.courtName }}</li>
                    <li class="fade"><span class="title">{{ 'text.court.level'|trans }}: </span>{{ court.courtLevel.description|upper }}</li>
                </ul>

                <div class="clear space-20"></div>

            </div>
            <div class="col6 align-left last">
                <h2 class="lighter">{{ 'text.court.location.details'|trans }}</h2>
                <div class="divider"></div>
                <ul class="list-styled">
                    <li class="fade"><span class="title">{{ 'text.region'|trans|capitalize }}: </span>{{ court.ward.district.region.regionName|capitalize }}, <span class="title">{{ 'text.district'|trans|capitalize }}: </span>{{ court.ward.district.districtName|capitalize }}, <span class="title">{{ 'text.ward'|trans|capitalize }}: </span>{{ court.ward.wardName|capitalize }}</li>
                    <li class="fade"><span class="title">{{ 'text.court.coordinates'|trans }}: </span>{{ court.CourtCoordinatesDMS }}</li>
                </ul>

                <div class="clear space-20"></div>

            </div>

            <div class="col6 align-left">

                <h2 class="lighter">{{ 'text.court.images.details'|trans }}</h2>
                <div class="divider"></div>
                <div class="image-slider col12">
                    {% for image in images %}
                        <div class="image-frame">
                            {% set image = 'file_uploads/court_images/' ~ image %}
                            <img src="{{ asset(image) }}" alt="Image" />
                        </div>
                    {% endfor %}
                </div>
                <div class="clear space-20"></div>

            </div>

            <div class="col6 align-left last">
                {% if coordinates is defined %}
                    {% if coordinates.longitude!=null and coordinates.latitude!=null %}
                        <div>
                            <h2 class="lighter">{{ 'text.court.map'|trans }}</h2>
                            <div class="divider"></div>
                            <div id="map" style="width:100%; height: 400px;"></div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="clear space-20"></div>

            </div>

            <div class="clear"></div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/ajax.js') }}"></script>
    {% if coordinates is defined %}

        {% if coordinates.longitude!=null and coordinates.latitude!=null %}
            <script src="{{ asset('vendor/leaflet/leaflet.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    var courts = L.layerGroup();

                    L.marker([{{ coordinates.latitude }}, {{ coordinates.longitude }}]).addTo(courts);

                    var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

                    var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
                        streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr}),
                        Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'});

                    var map = L.map('map', {
                        center: [{{ coordinates.latitude }}, {{ coordinates.longitude }}],
                        zoom: 10,
                        layers: [Esri_WorldImagery, courts]
                    });

                    var baseLayers = {
                        "Streets": streets,
                        "Satellite": Esri_WorldImagery,
                        "Grayscale": grayscale
                    };

                    var overlays = {
                        "Courts": courts
                    };

                    L.control.layers(baseLayers, overlays).addTo(map);
                });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

