{% extends 'public/base.html.twig' %}

{% block content %}

    <div class="page-title">
            <div class="section-inner">
                <h1>Datasets \ {{ pageTitle }}</h1>
            </div>
    </div>

    <div class="content white-space">
        <div class="space-20 col12"></div>
        <div class="section-inner">
            <div class="description">
                <h1><span class="green">Dataset:</span> <span class="lighter">{{ pageTitle }}</span></h1>
                <div class="space-10"></div>
                <p>{{ description }}</p>
            </div>
            <div class="form">
                {{ form_start(form) }}
                <div class="col3">{{ form_row(form.region,{'id':'regionId'}) }}</div>
                <div class="col3">{{ form_row(form.district,{'id':'districtId'}) }}</div>
                <div class="col3">{{ form_row(form.ward,{'id':'wardId'}) }}</div>
                <div class="col3 last">{{ form_row(form.courtLevel) }}</div>
                <div class="col3"><button type="submit" class="btn btn-primary" formnovalidate>Visualize Data</button></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
