{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.topic) }}
{{ form_row(form.imageFile) }}
{{ form_row(form.summary) }}
{{ form_row(form.content) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}